.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    width: 100%;
    max-width: 100%;
    min-height: inherit;
    margin: 0;
    box-shadow: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 11.5rem;
  }
}

.content {
  display: flex;

  @media screen and (max-width: $bp-large) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}

.detail {
  display: flex;
  padding: 4.5rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media screen and (max-width: $bp-large) {
    padding: 3rem;
  }

  @media screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);

  @media screen and (max-width: $bp-large) {
    margin-right: 3rem;
    padding: 2rem;
  }

  @media screen and (max-width: $bp-medium) {
    margin-right: auto;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
